{% set sectionC             = section.name|replace({' ': ''})|lower %}
{% set sectionId            = section.id ~ "-" ~ sectionC %}
{% set columns_per_row      = section.row %}
{% set rows_per_carousel    = section.colonne %}
{% set cards_per_row        = 12 %}
{% set nb_section           = section.NeoxDashDomains|length // (columns_per_row * rows_per_carousel) %}
<style>
    .loader {
        display: none; /* Masqué par défaut */
        position: fixed; /* Fixe au centre de l'écran */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centre l'image */
        z-index: 9999; /* Assurez-vous qu'il est au-dessus des autres éléments */
        width: 50px; /* Ajustez la taille selon votre GIF */
        height: 50px; /* Ajustez la taille selon votre GIF */
    }

    .loading-opacity {
        opacity: 0.5;
    }


    .loading-opacity {
        opacity: 0.5;
    }

    .domain {
        border: 2px dashed transparent !important; /* Couleur de la bordure invisible */
        cursor: grab; /* Curseur de glissement */
    }
    .drag-hover {
        background-color: #e1ee76 !important; /* Couleur verte */
    }
    .domain:hover {
        border: 5px dashed #007bff !important; /* Bordure visible lors du survol */
        background-color: rgba(0, 123, 255, 0.1) !important; /* Couleur de fond lors du survol */
    }
    .domain.dragging {
        opacity: 0.5; /* Visual feedback when dragging */
    }

    .dropzone {
        border: 2px dashed #ccc;
        padding: 5px;
        transition: background-color 0.3s ease;
    }
    .dropzone-hover-false {
        background-color: #d34532; /* Couleur de survol */
        border: 2px dashed #a38a23;
    }
    .dropzone-hover {
        background-color: #23ff00; /* Couleur de survol */
        border: 2px dashed #0b4903;
    }
    .dropzone-valid {
        background-color: #d4edda; /* Vert clair pour une URL valide */
        border-color: #28a745;
    }

    .dropzone-invalid {
        background-color: #f8d7da; /* Rouge clair pour une URL invalide */
        border-color: #dc3545;
    }
</style>

<div id="loader" class="loader">
    <img src="{{  asset('images/Infinity.gif') }}" alt="Loading...">
</div>

<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ sectionId }}" role="tabpanel" aria-labelledby="alert-{{ sectionC }}-tab" >
    <div class="container" >
        <div class="row row-cols-1 row-cols-md-{{ cards_per_row }} g-4 mb-5" >

            {#   ===== EDITION MENU SECTION ======     #}
            <div class="d-flex justify-content-between align-items-center shadow-sm bg-body pb-1 rounded bg-transparent" >
                {% if section.edit %}
                    <div class="ml-auto d-flex" >
                        <div class="left-item" >
                            <button {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox-modal', {
                                title: 'find icon' ,
                                text: 'Do you want to continue' ,
                                idElement: "live-NeoxDashBoardContent@" ~ NeoxDashClass.id,
                                url: path('app_neox_dash_find-icon', { id: section.id })

                            }) }}
                                data-modal="modal"
                                data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal"
                                class="nav-link"
                                type="button"
                                aria-selected="false" >
                                <twig:ux:icon name="fa6-solid:{{ 'magnifying-glass-location' }}" width="20" height="20" color="{{ color|default('yellow') }}" class="mx-2" />
                            </button >
                        </div >
                        <div class="left-item" >
                            <button {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox-modal', {
                                title: 'Edit Section' ,
                                text: 'Do you want to continue' ,
                                idElement: null,
                                url: path('app_neox_dash_section_edit', { id: section.id })

                            }) }}
                                data-modal="modal"
                                data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal"
                                class="nav-link"
                                type="button"
                                aria-selected="false" >
                                <twig:ux:icon name="fa6-solid:{{ plus|default('pen-to-square') }}" width="20" height="20" color="{{ color|default('green') }}" class="mx-2" />
                            </button >
                        </div >
                        <div class="left-item" >
                            {{ include('@NeoxDashBoardBundle/neox_dash_section/_delete_form.html.twig') }}
                            {#                            <button {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox-modal', #}
                            {#                                title: 'Delete Section' , #}
                            {#                                text: 'Do you want to continue' , #}
                            {#                                idElement: "live-NeoxDashBoardContent@" ~ NeoxDashClass.id, #}
                            {#                                url: path('app_neox_dash_section_delete', { id: section.id }) #}

                            {#                            }) }} #}
                            {#                                data-modal="modal" #}
                            {#                                data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal" #}
                            {#                                class="nav-link" #}
                            {#                                type="button" #}
                            {#                                aria-selected="false" > #}
                            {#                                <twig:ux:icon name="fa6-solid:{{ plus|default('trash-can') }}" width="20" height="20" color="{{ color|default('red') }}" class="mx-2" /> #}
                            {#                            </button > #}
                        </div >

                    </div >
                {% else %}
                    {#  ===== Botton ADD DOMAIN ======            #}
                    <div {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_modal', {
                        title: 'New Domain',
                        text: 'Do you want to continue',
                        idElement: "live-NeoxDashBoardContent@" ~ NeoxDashClass.id,
                        url: path('app_neox_dash_domain_new', { id: section.id })
                    }) }}
                        class="d-flex flex-column align-items-center"
                        data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal">
                        <div {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_drop') }} class="left-item">
                        <div class="dropzone btn btn-primary btn-sm"
                            data-xorgxx--neox-dashboard-bundle--neox-drop-target="dropzone"
                            data-id="{{ section.id }}"
                            >
                            <twig:ux:icon name="fa6-solid:{{ plus|default('plus') }}" width="20" height="20" color="{{ color|default('green') }}" class="mx-2" />
                            Drop or click to add domain
                        </div>

                        <input type="hidden" id="urlField" name="url">
                        </div>
                    </div>

                {% endif %}
                <div class="right-item" >
                    <button
                        type="button"
                        class="btn btn-secondary btn-sm"
                        id="delayedInput"
                        data-action="live#action"
                        data-live-action-param="mode"
                        data-live-query-param="{{ section.id }}"
                    >
                        {% if section.edit %}
                            <twig:ux:icon name="fa6-solid:{{ plus|default('right-from-bracket') }}" width="20" height="20" color="{{ color|default('red') }}" class="mx-2" />
                        {% else %}
                            <twig:ux:icon name="fa6-solid:{{ plus|default('pen-to-square') }}" width="20" height="20" color="{{ color|default('white') }}" class="mx-2" />
                        {% endif %}

                    </button >
                </div >

            </div >

            {#   ===== CAROUSEL ======     #}
            <div id="carousel{{ sectionId }}" class="carousel carousel-dark slide" data-bs-ride="carousel" >

                <div class="carousel-indicators" style="bottom: -40px" >
                    {% if nb_section %}
                        {% for i in 0..nb_section %}
                            <button type="button" data-bs-target="#carousel{{ sectionId }}" data-bs-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}" aria-label="Slide {{ i + 1 }}" ></button >
                        {% endfor %}
                    {% endif %}
                </div >

                <div class="carousel-inner" >
{#                    {% for row in section.NeoxDashDomains|batch(columns_per_row * rows_per_carousel, '') %}#}
                    {% for row in section.NeoxDashDomains|sort((a, b) => a.position <=> b.position)|batch(columns_per_row * rows_per_carousel, '') %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="{{ section.timer | setTimer }}" >

                            <div class="container" >
                                {% for rowSet in row|batch(columns_per_row) %}
                                    <div class="row justify-content-center"  {{ section.edit|default(false) ? stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_drag_domain') : "" }}>

                                        {% for item in rowSet%}
                                            {% if item %}
                                                <div id="neox_dash_domain_{{ item.id }}"
                                                    {{ section.edit|default(false) ? turbo_stream_listen('NeoxDashBoard\\NeoxDashBoardBundle\\Entity\\NeoxDashDomain') : '' }}
                                                    class="col-md-3 mb-3 "
                                                    data-xorgxx--neox-dashboard-bundle--neox-drag-domain-target="item"
                                                    data-id="{{ item.id }}"
                                                    data-api="{{ path('app_neox_dash_domain_exchange') }}"
                                                    draggable="true"
                                                >
                                                    {{ include('@NeoxDashBoardBundle/_Partials/_TabsCardItem.html.twig') }}
                                                </div >

                                            {% endif %}
                                        {% endfor %}

                                    </div >
                                {% endfor %}

                            </div >
                        </div >
                    {% endfor %}
                </div >
                {% if nb_section %}
                    <button class="carousel-control-prev" style="top: unset !important; bottom: -30px !important" data-bs-target="#carousel{{ sectionId }}" data-bs-slide="prev" >
                        <span class="carousel-control-prev-icon" aria-hidden="true" ></span >
                        <span class="visually-hidden" >Previous</span >
                    </button >
                    <button class="carousel-control-next" style=" top: unset !important; bottom: -30px !important" type="button" data-bs-target="#carousel{{ sectionId }}" data-bs-slide="next" >
                        <span class="carousel-control-next-icon" aria-hidden="true" ></span >
                        <span class="visually-hidden" >Next</span >
                    </button >
                {% endif %}
            </div >
        </div >
    </div >
</div >
