{% import'@NeoxDashBoardBundle/_Partials/macro/neox_macro.twig' as neox_macro %}
{% if NeoxDashClass %}
    <div class="accordion mb-4" id="accordionExample">
        <div class="accordion-item bg-transparent">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ NeoxDashClass.id }}"
                        aria-expanded="{{ NeoxDashClass.id == 37 ? "true" : "false" }}" aria-controls="collapseOne{{ NeoxDashClass.id }}">
                    {# Item Title ============== #}
                    {{ neox_macro.navItemBottomSimple(NeoxDashClass, 'black', 'bg-dark') }}
                </button>
            </h2>
            <div id="collapseOne{{ NeoxDashClass.id }}" class="bg-transparent accordion-collapse collapse {{ NeoxDashClass.id == 37 ? "show" : "" }}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-transparent">
                    <ul class="nav nav-tabs bg-transparent" id="myTab" role="tablist">
                        {#                    #}{# Item Title ============== #}
                        {#                    {{ neox_macro.navItemBottom(NeoxDashClass, 'white', 'bg-dark') }} #}

                        {# Item TABS Title ========= #}
                        {% for section in NeoxDashClass.NeoxDashSections %}
                            {% if section %}
                                {{ neox_macro.navItemBottomHeader(section, NeoxDashClass, loop) }}
                            {% endif %}
                        {% endfor %}

                        {# Item ADD Tab Title ======== #}
                        {{ neox_macro.navItemBottomStd("plus", 'green') }}

                        {# Item Main Menu ========= #}
                        {{ neox_macro.navItemMenu(NeoxDashClass) }}

                    </ul>
                    <div class="tab-content mt-4" id="myTabContent">

                        {% for section in NeoxDashClass.NeoxDashSections %}

                            {% include'@NeoxDashBoardBundle/_Partials/_TabsCardtest.html.twig' %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
