<div class="col-md-3 mb-3">
    <div class="card h-100 " style="border-width: 0!important">
        <div class="row no-gutters align-items-center">
            <!-- Icon Column -->

            <div class="col-auto bg-dark" style="height: 100%">
                <div class="d-flex align-items-center justify-content-center" style="height: 100%; width: 3rem;">
                    <a href="https://{{ item.name }}" target="_blank" class="d-flex align-items-center justify-content-center p-2 hover-color">
                        <twig:ux:icon class="flex-shrink-0 icon-normal" name="mynaui:letter-{{ item.name|getShortDomain["first"] }}-diamond" width="40" style="height: auto;transform: rotate({{  0 }}deg)" color="{{ item.color }}"/>
                    </a>
                </div>
            </div>

            <!-- Content Column -->
            <div class="col">
                <div class="p-2">
                    {{ item.name }}
                    {% if NeoxDashClass.icon == "bell" %}
                        <p>
                            <twig:ux:icon class="flex-shrink-0 icon-normal" name="fa6-solid:clock-rotate-left" width="20" style="height: auto;" color="red"/>
                            {{ random(0, 23) }}
                            <twig:ux:icon class="flex-shrink-0 icon-normal" name="fa6-solid:arrow-trend-up" width="20" style="height: auto;" color="red"/>
                        </p>
                    {% endif %}
                    {# ===== EDITION MENU ===== #}
                    {%if section.edit  %}
                        <div class="neox-edit d-flex justify-content-start">
                            {{ include('@NeoxDashBoardBundle/neox_dash_domain/_delete_form.html.twig') }}
{#                        <button {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox-modal', {#}
{#                            title: 'New Section' ,#}
{#                            text: 'Do you want to continue' ,#}
{#                            idElement: "live-NeoxDashBoardContent@" ~ NeoxDashClass.id,#}
{#                            url: path('app_neox_dash_section_edit', { id: section.id })#}

{#                        }) }}#}
{#                            data-modal="modal"#}
{#                            data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal"#}
{#                            class="nav-link"#}
{#                            type="button"#}
{#                            aria-selected="false" >#}
{#                            <twig:ux:icon name="fa6-solid:{{ plus|default('trash-can') }}" width="20" height="20" color="{{ color|default('red') }}" class="mx-2" />#}
{#                        </button >#}
                        <button {{ stimulus_controller('@xorgxx/neox-dashboard-bundle/neox-modal', {
                            title: 'Edit Domain' ,
                            text: 'Do you want to continue' ,
                            idElement: "live-NeoxDashBoardContent@" ~ NeoxDashClass.id,
                            url: path('app_neox_dash_domain_edit', { id: section.id })

                        }) }}
                            data-modal="modal"
                            data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal"
                            class="nav-link"
                            type="button"
                            aria-selected="false" >
                            <twig:ux:icon name="fa6-solid:{{ plus|default('pen-to-square') }}" width="20" height="20" color="{{ color|default('green') }}" class="mx-2" />
                        </button >
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>