{% extends 'base.html.twig' %}

{% block title %}NeoxDashSetup index{% endblock %}

{% block body %}
    <h1>NeoxDashSetup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Logo</th>
                <th>Country</th>
                <th>Weather</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for neox_dash_class in neox_dash_classs %}
            <tr>
                <td>{{ neox_dash_class.id }}</td>
                <td>{{ neox_dash_class.logo }}</td>
                <td>{{ neox_dash_class.country }}</td>
                <td>{{ neox_dash_class.weather }}</td>
                <td>
                    <a href="{{ path('app_neox_dash_class_show', {'id': neox_dash_class.id}) }}">show</a>
                    <a href="{{ path('app_neox_dash_class_edit', {'id': neox_dash_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_neox_dash_class_new') }}">Create new</a>
{% endblock %}
