<div class="card h-100" style="border-width: 0!important; position: relative; background-color: {{ item.color }}78;">
    <!-- Header with Icon and Name -->
    <div class="card-header d-flex align-items-center" style="background-color: {{ item.color }}; padding-left: calc({{ height }} + 15px); position: relative;">

        {% set height = section.heigth|default('2.8') ~ 'rem' %}

        <!-- Icon fixed to top-left   padding-left: calc({{ height }} + 45px) -->
        <div class="icon-container" style="position: absolute; top: 50%; transform: translateY(-50%); left: 0; height: {{ height }};">
            <div class="d-flex align-items-center justify-content-center" style="height: 100%; width: {{ height }};">
                <a href="{{ item.url }}" target="_blank"
                    class="d-flex align-items-center justify-content-center p-2 hover-color"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="{{ item.url }}">
                    {% if item.urlicon|slice(0, 3) == '500' or item.urlicon == null or item.urlicon == "z" %}
                        <twig:ux:icon class="flex-shrink-0 p-1 icon-normal"
                            name="{{ item.name|getShortDomain['icon'] }}"
                            width="{{ height }}"
                            style="height: auto; transform: rotate(0deg);" color="white" />
                    {% else %}
                        <div style="display: inline-flex; align-items: center;">
                            <img src="{{ item.urlicon }}" alt="nc" width="30"
                                onerror="this.style.display='none'; this.closest('div').querySelector('.fallback-icon').style.display='inline';" />
                            <span class="fallback-icon" style="display: none;">
                                <twig:ux:icon
                                    class="flex-shrink-0 p-1 icon-normal"
                                    name="mynaui:daze-square"
                                    width="{{ height }}"
                                    style="height: auto; transform: rotate(0deg); color: white;" />
                            </span>
                        </div>
{#                        <i class="fa-solid fa-circle-exclamation" style="display: none; font-size: 30px; color: red;"></i>#}

                    {% endif %}
                </a>
            </div>
        </div>

        <!-- Name aligned to the right of the icon 30 -->
        <div class="text-start">
            <strong class="text-light">{{ item.name|u.truncate(30,' ...', true) }}</strong>
        </div>
    </div>

    <!-- Content Section -->
    {% if section.content %}
        <div class="card-body" style="background-color: rgba(255,255,255,0.65)">
        <div class="content">

            <p>{{ item.content }}</p>

            {% if NeoxDashClass.icon == "bell" %}
                <p class="mb-0 d-inline-flex align-items-center" title="Autre message de survol ici">
                    <!-- Première icône -->
                    <twig:ux:icon class="flex-shrink-0 icon-normal" name="fa6-solid:clock-rotate-left" width="15" style="height: auto;" color="red" />
                    {{ random(0, 23) }}
                    <!-- Deuxième icône -->
                    <twig:ux:icon class="flex-shrink-0 icon-normal" name="fa6-solid:arrow-trend-up" width="15" style="height: auto;" color="red" />
                </p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Footer Section with Edit and Delete Buttons -->
    <div class="card-footer" style="padding: 2px !important;">
        {{ include('@NeoxDashBoardBundle/_Partials/dashBoardContent/_TabsCardItemButton.html.twig') }}
    </div>
</div>
