<div class="d-flex align-items-center">
    <!-- Icon with left margin -->

    <button
        type="button"
        class="btn btn-transparent btn-sm"
{#        id="dd"#}
        data-action="live#action"
        data-live-action-param="toggleFavorite"
        data-live-id-param="{{ item.id }}"
        data-live-section-param="{{ item.section.name }}"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .20rem;"
    >

        {% set isFavorite = item|setFavorite() %}

        <twig:ux:icon
            name="fa6-{{ isFavorite ? 'solid' : 'regular' }}:{{ plus|default('star') }}"
            width="15"
            height="15"
            color="{{ isFavorite ? 'yellow' : color|default('#270116') }}"
        />
    </button>
{#    {{  section.edit ~ " ~ " ~ section.name }}#}

    {% if section.edit is same as(true) and section.name is not same as('FAVORITE') and neoxSearch|default("true") is same as("true") %}
        <div class="ms-auto d-flex align-items-center"> <!-- Aligns to the right side and centers vertically -->
            <div class="me-2">
                {{ include('@NeoxDashBoardBundle/neox_dash_domain/_delete_form.html.twig') }}
            </div>
                                                        <!-- Edit Button -->
            <button
                data-xorgxx--neox-dashboard-bundle--neox-modal-target="link"
                data-title="Edit Domain"
                data-text="Do you want to continue"
                data-url="{{ path('app_neox_dash_domain_edit', { id: item.id }) }}"
                data-modal="modal"
                data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal"
                class="btn btn-success btn-sm"
                type="button"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .50rem;"
                aria-selected="false">
                <twig:ux:icon name="fa6-solid:{{ plus|default('pen') }}" width="10" height="10" color="{{ color|default('white') }}" class="mx-2" />
            </button>
        </div>
    {% endif %}
</div>
