
<form method="post" action="{{ path('app_neox_dash_domain_delete', {'id': item.id}) }}"
    data-xorgxx--neox-dashboard-bundle--neox-modal-target="link"
    data-action="click->xorgxx--neox-dashboard-bundle--neox-modal#modal"
    data-title="Delete domaine {{ item.name }}"
    data-text="Section and all domain inside will also be delete! Do you want to continue?"
    data-id-element="live-NeoxDashBoardContent@{{ NeoxDashClass.id }}"
    data-url="{{ path('app_neox_dash_domain_delete', { id: item.id }) }}"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">

    <button
        {{ stimulus_action('@xorgxx/neox-dashboard-bundle/neox-modal', 'deleteConfirm', 'click') }}
{#        ===== Form here i dont see where is probmeme !! if we use [{{ stimulus_action() }}] it will work ! but if use
#}        data-action="click->@xorgxx--neox-dashboard-bundle--neox-modal#deleteConfirm" It das not work #}

{#        data-action="click->@xorgxx--neox-dashboard-bundle--neox-modal#deleteConfirm"#}
{#        data-title="Delete domaine {{ item.name }}"#}
{#        data-text="Section and all domain inside will also be delete! Do you want to continue?"#}
{#        data-id-element="{{ path('app_neox_dashboard_home')}}"#}
{#        data-url="{{ path('app_neox_dash_domain_delete', { id: item.id }) }}"#}
{#        data-xorgxx--neox-dashboard-bundle--neox-modal-target="link"#}
        class="btn btn-danger btn-sm"
        type="button"
        aria-selected="false"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .50rem; margin-top:-5px"

    >
        <twig:ux:icon name="fa6-solid:{{ plus|default('minus') }}" width="10" height="10" color="{{ color|default('white') }}" class="mx-2" />

    </button>
</form>
