{# {% include '@NeoxDashBoardBundle/components/BootstrapModal.html.twig' %} style="background-color: {{ NeoxDashSetup.theme|default('#ffffff') }}" #}
<div {{ attributes }} >
    {#    <div class="pb-5" style="background-color: {{ NeoxDashSetup.theme|default('#ffffff') }}" > #}
    <section class="sticky-container container p-0" >
        <!-- Header Sticky -->
        <div class="sticky-header" >
            <turbo-frame id="NeoxDashHeader" >
                <twig:NeoxDashHeader :NeoxDashSetup="NeoxDashSetup" id="live-NeoxDashHeader" />
            </turbo-frame >
        </div >


    </section >

    <section class="container" >
        {#  ===== Builder Class ====== #}
        <div id="NeoxDashBoardContent"
            {{ turbo_stream_listen('NeoxDashBoard\\NeoxDashBoardBundle\\Entity\\NeoxDashDomain') }}
        >
            {% if NeoxDashSetup.class is not empty %}
                {#  ===== LOOP to builder Class ====== #}
                {% for class in  NeoxDashSetup.class %}
                    <turbo-frame id="NeoxDashBoardContent-{{ class.id }}" >
                        <twig:NeoxDashBoardContent :NeoxDashClass="class" :loopn="loop" id="live-NeoxDashBoardContent@{{ class.id }}" />
                    </turbo-frame >
                {% endfor %}
                {#      BULDER menu fast ====   #}
                {{ include('@NeoxDashBoardBundle/_Partials/dashBoardContent/_builderMenuLeft.html.twig') }}

            {% else %}
                {{ include('@NeoxDashBoardBundle/_Partials/dashBoardMain/iniDashBoard.html.twig') }}
            {% endif %}
        </div >
    </section >

    <section class="container sticky-bottom bg-dark bg-opacity-50 p-0">
        <!-- Search Domain Sticky -->
        <div class="sticky-search " style="margin-top: 0px" >
            <turbo-frame id="NeoxDashSearchDomain" >
                <twig:NeoxSearchDomain id="live-NeoxDashSearchDomain" />
            </turbo-frame >
        </div >
    </section>

</div >





